<form class="form-horizontal" role="form" >

    <fieldset>
        <legend>Song Information</legend>


        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
                <input type="text" id="title" name="title" class="form-control" ng-model="copyTrack.title"/>
            </div>
        </div>

        <div class="form-group">
            <label for="artist" class="col-sm-3 control-label">Artist</label>
            <div class="col-sm-9">
                <input type="text" id="artist" name="artist" class="form-control" ng-model="copyTrack.artist"/>
            </div>
        </div>

        <div class="form-group">
            <label for="label" class="col-sm-3 control-label">Label</label>
            <div class="col-sm-9">
                <input type="text" id="label" name="label" class="form-control" ng-model="copyTrack.label"/>
            </div>
        </div>

        <div class="form-group">
            <label for="genre" class="col-sm-3 control-label">Genre</label>
            <div class="col-sm-9">
                <select name="genre" id="genre" class="form-control"
                        ng-options="gen for gen in genres" ng-model="copyTrack.genre">                    
                </select>
            </div>
        </div>

    </fieldset>
    <br />
    <fieldset>
        <legend>Chart Position</legend>
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <span><b>Made number 1?</b></span>
                <div class="radio">
                    <label><input type="radio" name="number1" value="true" ng-model="copyTrack.number1"/>True</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="number1" value="false" ng-model="copyTrack.number1"/>False</label>
                </div>
            </div>
        </div>
    </fieldset>

    <br />
    <fieldset>
        <legend>Track Tempo</legend>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                               <div class="radio">
                    <label><input type="radio" name="speed" value="slow" ng-model="copyTrack.speed"/>Slow</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="speed" value="medium" ng-model="copyTrack.speed"/>Medium</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="speed" value="fast" ng-model="copyTrack.speed"/>Fast</label>
                </div>
                <br />
                <div>
                    
                </div>
            </div>
        </div>
    </fieldset>
    <div class="col-sm-9 col-sm-offset-3">

        <input type="submit" class="btn btn-primary" value="Submit" ng-click="formSub()" />

        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()">
        
    </div>

</form>
